Repository codespace-operator/common: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

.lintstagedrc.json:

{
  "*.go": "gofmt -w",
  "*.{ts,tsx,js,css,html,json,md}": "npx prettier -w",
  "*.{md,json,yml,yaml}": "npx prettier -w"
}

Notes added by 'git notes add'
  c5ba397b7eeb702dc0eba731347028b7f88660ec
Due: none

Notes added by 'git notes add'
  4d0032ad3617e4664ad470ad1d197c456dd531ea
Due: none

Notes added by 'git notes add'
  850fe8954d98cb9d49c023d3968114e3f12e6817
Due: none

Notes added by 'git notes add'
  40df32aec025de23ea15b245d6bb9258f0d803b8
Due: none

Notes added by 'git notes add'
  f50dd6913d12cb88b9b3b31ec3b8e4e674b2df42
Due: none

feat(common): release
  .github/CODEOWNERS
  .github/labeler.yml
  .github/release-config/release.common.cjs
  .github/workflows/release-common.yml
  .github/workflows/verify-pr.yml
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  auth/README.md
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_ldap.go
  auth/pkg/auth/auth_local.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/auth_provider.go
  auth/pkg/auth/auth_token.go
  auth/pkg/auth/jwt_manager_test.go
  auth/pkg/auth/local_provider_test.go
  auth/pkg/auth/middleware_test.go
  commitlint.config.js
  go.mod
  go.sum
  package-lock.json
  package.json
  pkg/auth/auth_test.go
  pkg/rbac/rbac_test.go
  rbac/README.md
  rbac/pkg/rbac.go
  rbac/pkg/rbac_unit_test.go
Due: gofmt -w, npx prettier -w

Notes added by 'git notes add'
  e0c93f16aef7b01976ed52904df5c2ef62760677
Due: none

feat(auth,rbac): release
  .github/release-config/release.common.cjs
  .github/release-config/release.pkg.cjs
  .github/workflows/release-common.yml
  .github/workflows/release-pkg.yml
  auth/go.mod
  auth/go.sum
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_middleware.go
  rbac/go.mod
  rbac/go.sum
  rbac/pkg/rbac/rbac.go
  rbac/pkg/rbac/rbac_helpers.go
  rbac/pkg/rbac/rbac_middleware.go
  rbac/pkg/rbac/rbac_unit_test.go
Due: gofmt -w, npx prettier -w

chore(release): auth 1.0.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  c82f76c114b2d9c087396274f7fd288b471f1fcf
Due: none

fix(repo): non breaking 1.22->1.25
  .github/workflows/release-pkg.yml
Due: npx prettier -w

fix(repo): remove unused watches
  .github/workflows/release-pkg.yml
Due: npx prettier -w

fix(rbac): stub push
  rbac/pkg/rbac/rbac_unit_test.go
Due: gofmt -w

chore(release): rbac 1.0.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Due: npx prettier -w

Notes added by 'git notes add'
  d8fc3d22632b9b23b9b8ea26d919b521eec200fd
Due: none

feat(rbac): appName as constant for modelpath
  rbac/pkg/rbac/rbac.go
  rbac/pkg/rbac/rbac_middleware.go
Due: gofmt -w

chore(release): rbac 1.1.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Due: npx prettier -w

Notes added by 'git notes add'
  4dac9a67c1f58ca01354b40f8c64b03e1767e812
Due: none

feat(auth): auth pkg bump due to immutability
  auth/pkg/auth/middleware_test.go
Due: gofmt -w

chore(release): auth 1.1.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  1ae80d5688d6790e144a108d45b9f994cbc11f77
Due: none

feat(auth): auth pkg bump due to immutability
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_ldap.go
  auth/pkg/auth/auth_local.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/auth_provider.go
  auth/pkg/auth/cookie.go
  auth/pkg/auth/local_provider_test.go
  auth/pkg/auth/middleware_test.go
Due: gofmt -w

chore(release): auth 1.2.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  7aa503322bc7c787c9103111ea2410bbb18297cc
Due: none

feat(common): init common pkg
  .github/workflows/release-pkg.yml
  Makefile
  common/go.mod
  common/go.sum
  common/pkg/anchor.go
  common/pkg/anchor_test.go
  common/pkg/common.go
  common/pkg/common_misc_test.go
  common/pkg/http.go
  common/pkg/http_test.go
  common/pkg/info.go
  common/pkg/logging.go
  common/pkg/logging_test.go
  common/pkg/metadata.go
  common/pkg/metadata_test.go
Due: gofmt -w, npx prettier -w

Notes added by 'git notes add'
  f76606826741bbc3d2e0183e78f13a041be1e819
Due: none

chore(release): common 1.0.0 [skip ci]
  changelogs/CHANGELOG.common.md
Due: npx prettier -w

fix(common): fix common pkg structure
  common/pkg/common/anchor.go
  common/pkg/common/anchor_test.go
  common/pkg/common/common.go
  common/pkg/common/common_misc_test.go
  common/pkg/common/http.go
  common/pkg/common/http_test.go
  common/pkg/common/info.go
  common/pkg/common/logging.go
  common/pkg/common/logging_test.go
  common/pkg/common/metadata.go
  common/pkg/common/metadata_test.go
Due: gofmt -w

chore(release): common 1.0.1 [skip ci]
  changelogs/CHANGELOG.common.md
Due: npx prettier -w

Notes added by 'git notes add'
  c4e445d1078e9deaafe0c0aa76d04b108bcf206e
Due: none

fix(auth): enforce cfg paths as configured
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_middleware.go
  rbac/go.mod
  rbac/go.sum
Due: gofmt -w

Notes added by 'git notes add'
  e648e7bee1118fa0bc65e15818910e69ba336550
Due: none

chore(release): auth 1.3.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

fix(auth): centralize token management to `AuthManager`
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_helpers.go
  auth/pkg/auth/auth_ldap.go
  auth/pkg/auth/auth_local.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/auth_token.go
  auth/pkg/auth/cookie.go
  auth/pkg/auth/cookie_test.go
  auth/pkg/auth/helpers_test.go
  auth/pkg/auth/http_auth.go
  auth/pkg/auth/http_auth_test.go
  auth/pkg/auth/local_provider_test.go
  rbac/pkg/rbac/rbac.go
Due: gofmt -w

Notes added by 'git notes add'
  f6202c0d91f9d4a215d1bcdce847a983efb1f42e
Due: none

chore(release): auth 1.3.1 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

feat(rbac): decouple from auth, use a `Principal`
  rbac/go.mod
  rbac/go.sum
  rbac/pkg/rbac/principal.go
  rbac/pkg/rbac/rbac_middleware.go
Due: gofmt -w

chore(release): rbac 1.2.0 [skip ci]
  changelogs/CHANGELOG.rbac.md
Due: npx prettier -w

Notes added by 'git notes add'
  d9cb42990b3d46f731d3458b97679f87f357e16e
Due: none

feat(auth): config loader for auths
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/config.go
Due: gofmt -w
