Repository codespace-operator/common: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

.lintstagedrc.json:

{
  "*.go": "gofmt -w",
  "*.{ts,tsx,js,css,html,json,md}": "npx prettier -w",
  "*.{md,json,yml,yaml}": "npx prettier -w"
}

feat(auth): config loader for auths
  auth/pkg/auth/auth.go
  auth/pkg/auth/auth_oidc.go
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.4.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  49b0d5f1d846ad92040829c3855be9cb1cc49788
Due: none

feat(auth): add public helpers
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.5.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  6122a97c7cd7cbbf7ebb77b55f35d25361915a02
Due: none

fix(auth): loader sanitize types
  auth/pkg/auth/auth.go
  auth/pkg/auth/config.go
Due: gofmt -w

Notes added by 'git notes add'
  e1ff56c8faf701b852933d5843df2c0fc2f8f732
Due: none

chore(release): auth 1.5.1 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

fix(auth): make AuthFileConfig public for typehints
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.5.2 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  b5a4f8330fec09fb26ac3e5bd8d74b8fcada8af3
Due: none

fix(auth): add missing adapters
  auth/pkg/auth/config.go
Due: gofmt -w

fix(auth): session is manager
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.5.3 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  93e7b6051037ee8b10366b6f0e34f8998e0dce1c
Due: none

fix(auth): external functions stay standard
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.5.4 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  9cf2f54b19de6d0efc9dd96b7ae1dcc84cddd836
Due: none

fix(auth): config missing tags for unmarshaling
  auth/go.mod
  auth/go.sum
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.5.5 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  d93c4d46cbe17ca846856d3fa7bca6fdacfb923a
Due: none

feat(auth): env bindings directly
  auth/pkg/auth/config.go
Due: gofmt -w

chore(release): auth 1.6.0 [skip ci]
  changelogs/CHANGELOG.auth.md
Due: npx prettier -w

Notes added by 'git notes add'
  1df7474e0c3b9a074508694570f799d51132616b
Due: none

fix(common): remove unnecessary logging
  common/pkg/common/common.go
Due: gofmt -w

chore(release): common 1.1.0 [skip ci]
  changelogs/CHANGELOG.common.md
Due: npx prettier -w

Notes added by 'git notes add'
  534acc8ba835a057812c35793fa70283ac7c787a
Due: none
